
/*
html { 
  background: url("images/sombra.png") no-repeat right top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
.wrapper {
position:relative;
max-width:100%;
float:right;
}

.sombra {
position:relative;
z-index:0;
max-width:100%;
}

.twitter {
z-index:1;
position:absolute;
top:1%;
left:85%;
max-width:20%;
}

.twitter img {
max-width:100%;
}

.linkedin {
z-index:2;
position:absolute;
top:25%;
left:60%;
max-width:15%;
}

.linkedin img {
max-width:100%;
}
