<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Manuel Garrido's Personal Page">
	<meta name="author" content="ManuGarri">
	<title>Manugarri</title>
	<link type="text/css" rel="stylesheet" media="all" href="/manugarri.css"></link>
    </head>
    <body>
<div class="wrapper">
    <img class="sombra" src="images/sombra.png">
    <div class="twitter">
      <a href="https://twitter.com/manugarri" target="_blank">
        <img src="images/twitter.png">
      </a>
    </div>

    <div class="linkedin">
	<a href="http://www.linkedin.com/in/manuelgarridopena/" target="_blank">
          <img src="images/linkedin.png">
	</a>
     </div>
</div>
    </body>
</html>
